# Config file for automatic testing at travis-ci.org

language: python

python:
  #- "3.6"
  - "3.7"
  - "3.8"

before_install:
  - sudo apt-get -y install gfortran
  - pip install coveralls
  - pip install tox-travis
  #- pip install python-coveralls

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -r requirements.txt
  - pip install -r test_requirements.txt
  #- pip install pluggy==0.13.0
  #- pip install -U pytest
  - pip install .

before_script: # configure a headless display to test plot generation
- "export DISPLAY=:99.0"
#- "sh -e /etc/init.d/xvfb start"
- sleep 3 # give xvfb some time to start

# command to run tests, e.g. python setup.py test
script:
  #- py.test
  #- coverage run --source=dolphin setup.py test
  - tox

after_success:
    coveralls